<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8">
    <title>Eat da Burger!</title>
		<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <img src="../assets/img/burgerbanner.jpg" class="responsive-img" id="burger_img">
      </div>
      <h1 class="blue-grey-text text-darken-4">Eat da Burger!</h1>
      
      {{{body}}}
      
</body>
</html>