<div class="row">
<div class="container">
  
  <div class="row justify-content-center">
    
    <div class="col-sm">
      <div class="row justify-content-center">
        <h2>Burger Menu</h2>
      </div>
      <div class="row justify-content-center">
        <ul class="list-group">
          {{#each burgers}}
            {{#unless devoured}}
              {{> burgers/burger-block devour=true}}
            {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-sm">
      <div class="row justify-content-center">
        <h2>Your Burger Log</h2>
      </div>
      <div class="row justify-content-center">
        <ul class="list-group">
          {{#each burgers}}
            {{#if devoured}}
              {{> burgers/burger-block devour=false}}
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  
  </div>

<hr />

  <div class="row justify-content-center">
  <div class="container">
    <div class="row justify-content-center">
      <h2>Add to the Menu</h2>
    </div>
    <div class="row justify-content-center">
      <form class="create-form">

        <div class="form-group">
          <label for="burger_name">Burger Name:</label>
          <input type="text" id="burger_name" name="burger_name">
          <button class="btn btn-danger" type="submit">ADD BURGER</button>
        </div>
      </form>
    </div>
</div>
</div>



</div>
</div>
