<h1>Burgers, y'all!</h1>

<h2>Burger Menu</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Your Burger Log</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add to the Menu</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger_name">Burger Name:</label>
    <input type="text" id="burger_name" name="burger_name">
  </div>


  <button type="submit">ADD BURGER</button>
</form>
